header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.0);

}

.scrolling-active {
	background-color: rgba(0, 0, 0, .1);

	header {
		box-shadow: 0 4px 1.05rem rgba(0, 0, 0, .14);
		background-color: $light;

	}
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding-right: 3vw;
	padding-left: 3vw;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.0);
	transition: background-color .5s ease;
	color: $primary;


	&-image {
		width: 50px;
		height: 50px;
	}

	&-text {
		margin-left: -18px;
		margin-bottom: -10px;
		font-size: 1.75rem;
		font-weight: bold;
		color: $primary;

		&:hover {
			color: $secondary;
		}
	}

	
}

.nav-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.nav-item {
		margin-left: 2.5rem;
	}
	
	.nav-link {
		font-size: 1.2rem;
		font-weight: 500;
		color: $primary;
	
		&:hover {
			color: $secondary;
		}
	}

	.nav-link.active {
		font-weight: 600;
		color: $secondary;

		&:hover {
			color: $primary;
		}
	}
}

.hamburger {
	display: none;
}





@media only screen and (max-width: 900px) {

	.bar {
		display: block;
		width: 25px;
		height: 3px;
		margin: 5px auto;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		background-color: $dark;
	}

	.nav-menu {
		display: flex;
		position: fixed;
		left: -100%;
		top: 0;
		flex-direction: column;
		background-color: #f9f9f9;
		width: 75%;
		height: 100%;
		text-align: center;
		justify-content: center;
		transition: 0.3s;
		box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	}


	.nav-menu.active {
		left: 0%;
	}

	.nav-item {
		margin: 0.5rem 0;
	}

	.nav-link {
		color: #3f3030;
	}


	.hamburger {
		display: block;
		cursor: pointer;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
		background-color: $primary;
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
		background-color: $primary;
	}
}
